{% extends "base.html" %}

{% load static %}

{% block content %}
    <section id="lesson" class="lesson">
        <div class="container mt-5">
            <p>Python is great2</p>
            <h1>{{ lesson.title }}</h1>
            <div class="lesson-content">
                {{ lesson.content | safe }}
            </div>
            {% if next_lesson %}
                <a href="{% url 'lesson-detail' lesson_order=next_lesson.order %}" class="next-lesson-link">Następna lekcja</a>
            {% endif %}
        </div>
    </section>
{% endblock %}

