{% extends "base.html" %}
{% load lesson_extras %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/pygments.css' %}">
{% endblock %}


{% block content %}
<style>
    div.codehilite > pre {
        padding: 10px; /* Отступ со всех сторон */
        border-radius: 4px; /* Скругление углов */
        max-width: 60%;
        overflow: auto; /* Добавляет полосу прокрутки, если контент не помещается */
    }

    .content-container {
        max-width: 70%;
        margin: auto;
    }

  .lesson-title {
    font-weight: bold; /* Жирный шрифт для заголовка */
    margin-bottom: 10px; /* Отступ снизу для разделения */
  }



</style>
    <section id="about" class="about">
        <div class="container mt-5">
            <div class="content-container">
                <h2 class="lesson-title">Lekcja {{ lesson.order }}. {{ lesson.title }}</h2>
                <hr>
                <div class="lesson-content">
                    {{ lesson.content|render_markdown }}
                </div>
                {% if next_lesson %}
                    <a href="{% url 'lesson-detail' lesson_order=next_lesson.order %}" class="next-lesson-link">Następna lekcja</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}