{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container half-width">
        <br>
        <h1>Date List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Weekday</th>
                    <th>Report</th>
                    <th>Statistics</th>
                </tr>
            </thead>
            <tbody>
                {% for date in date_range %}
                <tr>
                    <td>{{ date }}</td>
                    <td>{{ date|date:"l" }}</td>
                    <td> <a href="/diary/entry/">Fill Entry</a> </td>
                    <th> - </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}