{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
  .map-iframe {
    margin: 20px auto; /* Увеличенный отступ сверху и снизу */
    padding: 0 20px; /* Увеличенные боковые отступы */
    display: block;
    width: 75%;
    height: 350px; /* Высоту можно настроить по желанию */
    border: none; /* Убираем рамку, если она есть */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Опционально добавляем тень для визуального выделения */
  }

  .email-link {
    color: #007BFF; /* Синий цвет для ссылок */
    font-weight: bold; /* Жирное начертание */
    text-decoration: none; /* Убрать подчеркивание */
  }

  .email-link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
  }
</style>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Contact Us</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <br>
        <h3>Aby złożyć wniosek o szkolenie, napisz e-mail na adres: <a href="mailto:info@pykids.pl" class="email-link">info@pykids.pl</a></h3>
        <br>
        <h3>Co jest potrzebne, aby zacząć naukę?</h3>
        <ul>
          <li>Kurs jest przeznaczony dla dzieci w wieku od 11 do 15 lat.</li>
          <li>Kurs nie wymaga znajomości programowania ani matematyki.</li>
          <li>Kurs nie wymaga instalacji specjalnego oprogramowania, wystarczy komputer z przeglądarką internetową.</li>
        </ul>
      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->

{% endblock %}

