{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
  .map-iframe {
    margin: 20px auto; /* Увеличенный отступ сверху и снизу */
    padding: 0 20px; /* Увеличенные боковые отступы */
    display: block;
    width: 75%;
    height: 350px; /* Высоту можно настроить по желанию */
    border: none; /* Убираем рамку, если она есть */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Опционально добавляем тень для визуального выделения */
  }
</style>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Contact Us</h2>
        <p> Aby złożyć wniosek o szkolenie, napisz e-mail na adres: info@pykids.pl</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div data-aos="fade-up">
          <iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30492.153101792777!2d17.0301476947595!3d51.101744282572746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2spl!4v1697110153561!5m2!1sru!2spl" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Polska</p>
                <p>Wrocław</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@pykids.pl</p>
              </div>

<!--              <div class="phone">-->
<!--                <i class="bi bi-phone"></i>-->
<!--                <h4>Call:</h4>-->
<!--                <p>+48 12345678</p>-->
<!--              </div>-->

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}
