{% extends "base.html" %}

{% load static %}

{% block content %}
<section id="about" class="about">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="Zdjęcie kursu">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h1>Plan kursu:</h1>
                {% for chapter, lessons in chapters.items %}
                <div>
                    <h2>{{ chapter.name }}</h2>
                    <ul>
                        {% for l in lessons %}
                        <div class="lesson">
                            <ul>
                                <li>
                                    <i class="bi bi-check-circle"></i>
                                    <a href="{% url 'lesson-detail' lesson_order=l.chapter_order %}">
                                        Lekcja {{ l.order }}: {{ l.title }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
