{% extends "base.html" %}

{% load static %}

{% block content %}
    <section id="about" class="about">
        <div class="container mt-5">
            <div class="row">
                <!-- Колонка для изображения -->
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="Описание изображения">
                </div>
                <!-- Колонка для текста -->
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Czym jest pykids?</h3>
                    <p class="fst-italic">
                        Nasz projekt jest poświęcony nauczaniu dzieci programowania w języku Python.
W dzisiejszym świecie, gdzie technologie odgrywają kluczową rolę, umiejętność programowania staje się jedną z najbardziej cennych umiejętności.
                    </p>
                    <p>
                        Dlaczego jest to tak ważne dla dzieci? <br> Programowanie rozwija myślenie logiczne, uczy rozwiązywania skomplikowanych problemów i pracy w zespole. Daje również dzieciom możliwość bycia kreatywnymi, tworząc własne projekty i gry.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Rozwój myślenia logicznego i kreatywności.</li>
                        <li><i class="bi bi-check-circle"></i> Możliwość tworzenia własnych projektów i gier.</li>
                        <li><i class="bi bi-check-circle"></i> Kształtowanie użytecznych nawyków, takich jak pisanie bezwzrokowe i nauka języków.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
