{% extends "base.html" %}

{% load static %}

{% block content %}
    <section id="about" class="about">
        <div class="container mt-5">
            <div class="row">
                <!-- Колонка для изображения -->
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="O programie PyKids">
                </div>
                <!-- Колонка для текста -->
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h4>PyKids: Bezpłatny interaktywny kurs programowania w Pythonie dla dzieci</h4>
                    <p class="fst-italic">
                        PyKids to kurs zaprojektowany specjalnie dla dzieci, aby mogły łatwo i przyjemnie nauczyć się programowania w języku Python. Nasz kurs kładzie nacisk na praktyczne zastosowanie metod nauki, które poprzez zabawę skupiają się na nauce niezbędnych aspektów języka.
                    </p>
                    <br>
                    <h4>Dlaczego PyKids?</h4>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Dostępność materiału: Wyjaśniamy skomplikowane koncepcje w prostym języku, aby każde dziecko mogło zrozumieć i używać materiałów edukacyjnych w praktyce.</li>
                        <li><i class="bi bi-check-circle"></i> Praktyczna orientacja: Wszystkie zadania i projekty są dostosowane do wieku i zdolności dzieci. Pomaga to nie tylko przyswoić materiał, ale również zastosować go w praktyce, tworząc własne gry i projekty.</li>
                        <li><i class="bi bi-check-circle"></i> Motywacja i zaangażowanie: Uczniowie sami tworzą gry i interaktywne projekty, co znacząco zwiększa zainteresowanie nauką.</li>
                        <li><i class="bi bi-check-circle"></i> Skupienie na wiedzy aplikacyjnej: Kurs koncentruje się na tych aspektach Pythona, które są najbardziej przydatne i interesujące dla dzieci, zapewniając niezbędne umiejętności do realizacji rzeczywistych zadań.</li>
                    </ul>
                    <h4>Co jest celem PyKids?</h4>
                     Celem PyKids jest nauka nie tylko programowania, ale również kreatywnego myślenia, pracy zespołowej oraz rozwiązywania skomplikowanych problemów.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
