{% extends "base.html" %}

{% block content %}
    <section id="login" class="about">
      <div class="container mt-5">
          <h2>Logowanie</h2>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Zaloguj się</button>
          </form>
          <p class="mt-3">Jeśli nie masz jeszcze konta, możesz się zarejestrować, wysyłając wiadomość na adres e-mail: <a href="mailto:pykids@gmail.com">pykids@gmail.com</a></p>
      </div>
    </section>
{% endblock %}

